
.gradient-blue-purple {
  position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: rgba(255,255,255,0.06); /* faint */*/
    pointer-events: none;
    user-select: none;
    z-index: 0;
    margin: 0;
}

