<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/chat_box.css}">
    <title>Chat</title>
</head>
<body>
    <div class="chatbox">
        <div class="header">
            <a href="/message_menu" class="exit_chat_button">Back</a>
            <div id ="chatNametag"></div>
        </div>
        <div class="messages">
                <!--
                <div class="sent_message"></div>
                <div class="received_message"></div>
                -->
        </div>
        <div class="message_input">
            <div id="input_message_label">Enter message : </div><div contenteditable="true" id="input_message"></div>
            <button type="submit" id="send_button">Send</button>
        </div>
    </div>

    <script th:inline="javascript">
        let chatUserId = [[${chatUserId}]];
        let chatUserName = /*[[${chatUserName}]]*/;
        console.log("chatUserId : "+chatUserId);
        console.log("chatUserName : "+chatUserName);
        sessionStorage.setItem("chatUserId",chatUserId);
        sessionStorage.setItem("chatUserName",chatUserName);
        document.getElementById("chatNametag").innerText = chatUserName;

        let messageList = [[${messageList}]];
       // let sentMessageDiv = document.getElementById("sent");
       //let receivedMessageDiv = document.getElementById("received");
       let messageClassDiv = document.getElementsByClassName("messages");
        console.log(messageClassDiv);
        messageList.forEach(message => {
            console.log(message);
            let messageDiv = document.createElement("div");
            if(message.senderId==sessionStorage.getItem("userId")){
                messageDiv.classList.add("sent_message");
            }else{
                messageDiv.classList.add("received_message");
            }
            messageDiv.textContent = message.message;
            messageClassDiv[0].appendChild(messageDiv);

        });
    </script>

    <script th:src="@{/js/chat_box.js}"></script>

</body>
</html>