<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <div class="chatbox" >
        <div class="header">
            <div id ="nametag"></div>
        </div>
        <script th:inline="javascript">
            let userId = [[${userId}]];
            let userName = /*[[${user}]]*/;
            sessionStorage.setItem("userId",userId);
            sessionStorage.setItem("userName",userName);
            document.getElementById("nametag").innerText = sessionStorage.getItem("user");
        </script>
        <div class="body" id="messages"></div>
        <div class="footer" id="message_input">
            <div contenteditable="true" id="input_message"></div>
            <button type="submit" id="send_button">Send</button>
        </div>
    </div>
    <script th:src="@{/js/chat_box.js}"></script>
</body>
</html>