<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Message Box</title>
</head>
<body>
    <script th:inline="javascript">
        window.receiver = /*[[${receiver}]]*/ '';
        window.receiver_id = /*[[${receiver_id}]]*/ '';
    </script>
    <div>@<span id="user_name"></span></div>
    <script>
        document.getElementById("user_name").innerText = window.receiver;

    </script>

    <form method="post" action="/message/send" onsubmit="getReceiverId()">
        <input type="hidden" name="receiverId" id="receiver_id">
        <textarea placeholder="Enter message" name="message"></textarea>
        <button type="submit">Send</button>
    </form>
    <script>
        function getReceiverId(){
            console.log("getReceiverId() function call");
            document.getElementById("receiver_id").value = window.receiver_id;

        }
    </script>
</body>
</html>